#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.subheading {
  font-size: 0.8rem;
}

.passwordlength {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.passwords {
  display: flex;
  gap: 2rem
}

.passwords input {
  height: 2rem;
  width: 15rem;
  padding: 0 1rem;
  margin: 3rem 0;
  border-radius: 5px;
  border: none;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}