:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  /* border: 2px solid hsla(0, 100%, 50%, 0.178); */
}

body {
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: #F1FAEE;
}

h1 {
  font-size: 3.2em;
  line-height: 1;
  text-align: left;
}

.heading {
  color: #457B9D;
}

.heading span {
  color: #1D3557;
}

.subheading {
  font-size: 0.8rem;
  color: #457B9D;
}

.password-length {
  display: flex;
  justify-content: start;
  align-items: center;
}

.pass-text {
  font-size: 1.5rem;
  padding-right: 2rem;
  color: #1D3557;
}

#length-input {
  padding: 0.6em 1.5em;
  margin: 0 0.6rem;
  background-color: #A8DADC;
  border-radius: 8px;
}

.toggle-btns {
  display: flex;
  justify-content: start;
  gap: 2rem;
}

#clear {
  border-color: #E63946;
  background-color: hsla(355, 78%, 56%, 0.158);
  color: #E63946;
}

.passwords {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.passwords input {
  height: 2rem;
  width: 14rem;
  padding: 0 1rem;
  margin: 2rem 0;
  border-radius: 5px;
  border: none;
  background: #f9f9f9;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
}

button {
  border-radius: 6px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1D3557;
  color: #F1FAEE;
  cursor: pointer;
  transition: border-color 0.25s;
}

.copy-btns {
  display: flex;
  justify-content: space-around;
}

.copy-btns button {
  width: 8rem;
  height: 2rem;
  font-size: 0.8rem;
  border-radius: 3px;
  padding: 0 0;
}


/* button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
